<div class="row">
    <form class="col s12 center" method="post" action="@Url.Action("buscarFarmaco", "Farmacos")">

        <div class="row">
            <div class="input-field col s12">
                <input id="search" type="text" class="validate" name="Busqueda">
                <label for="search">Buscar</label>
            </div>
        </div>

        <button class="btn waves-effect waves-light center" type="submit" >
            Buscar
            <i class="material-icons right">search</i>
        </button>


    </form>
</div>