@using Lab2_KM.Utils;
@using Lab2_KM.Models;






@{
    void InOrder(LibFarmacos.Nodo<FarmacoArbol> nodoFarmaco)
    {
        if (nodoFarmaco != null)
        {
            InOrder(nodoFarmaco.HijoIzquierdo);
            mostrarContenido(nodoFarmaco.valorFarmaco);
            InOrder(nodoFarmaco.HijoDerecho);
        }
    };


    void mostrarContenido(FarmacoArbol farmaco)
    {
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <p>@farmaco.NombreFarmaco</p>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn" href="/Farmacos/DataFarmaco?ID=@farmaco.id&NOMBRE=@farmaco.NombreFarmaco"><i class="material-icons left">cloud</i>Agregar A Pedido</a>


                </div>
            </div>
        </div>

    }

    InOrder(Storage.Instance.ArbolB.padre);
}





