@using Lab2_KM.Utils
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lab2_KM</title>
    <!-- CSS  Materialize-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/materialize.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body>
    <header>
        <nav class="ligth-blue lifhten-1" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" class="brand-logo" asp-controller="Farmacos" asp-action="Index">Lab2</a>

                <ul class="right hide-on-med-and-down">
                    <li class="">
                        <a asp-controller="Pedido" asp-action="Index">
                            Pedidos
                            <span class="teal badge white-text">@Storage.Instance.listaFarmacos.Count</span>

                        </a>
                    </li>

                    <li class="">
                        <a asp-controller="Farmacos" asp-action="buscarFarmaco">
                            Buscar Farmaco

                        </a>
                    </li>
                </ul>

                

                <ul id="nav-mobile" class="sidenav">
                    <li class="">
                        <a asp-controller="Pedido" asp-action="Index">
                            Pedidos
                            <span class="teal badge">@Storage.Instance.listaFarmacos.Count</span>

                        </a>
                    </li>

                    <li class="">
                        <a asp-controller="Farmacos" asp-action="buscarFarmaco">
                            <p>Buscar Farmaco</p>

                        </a>
                    </li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </header>
    <div class="section">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/js/materialize.js"></script>
    <script src="~/js/init.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
